<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quiz</title>

    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'Campus/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'Campus/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'Campus/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'Campus/vendor/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'Campus/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Reconnaissance</h3>
                    </div>
                    <div class="panel-body">
                    

                            <!-- Tab panes -->
                            <div class="tab-content">
                                 
                                <div class="tab-pane fade in active" id="signin">
                                    <h4>Your account is activated</h4>
                                    <h4>Now you can login through mobile app</h4>
                                    <!--<form role="form">
                                        {% csrf_token %}
                                        <fieldset>
                                             Change this to a button or input when using this as a form 
                                             <div class="form-group">
                                                <span class="text-danger" id="lbllogchk"></span>
                                             </div>
                                            <a href="/login" class="btn btn-lg btn-info btn-block" type="button" id="btnLogin">Login now</a>
                                        </fieldset>
                                         </form>-->
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- jQuery -->
    <script src="{% static 'Campus/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'Campus/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'Campus/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'Campus/dist/js/sb-admin-2.js' %}"></script>


</body>

</html>
